# ==============================================
# 前端项目 dczzq
# ==============================================
/dczzq/node_modules/
/dczzq/dist/
/dczzq/logs/

# ==============================================
# 后端 backend
# ==============================================
/backend/venv/
/backend/__pycache__/
/backend/**/__pycache__/
*.pyc
*.pyo
backend/__pycache__/
backend/app/__pycache__/
backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/api/__pycache__/
# 模型 & 缓存数据
/backend/pkl/
/backend/*.csv

# ==============================================
# 上传文件（自动生成，不提交）
# ==============================================
/avatar_uploads/

# ==============================================
# 服务器配置（不提交）
# ==============================================
/nginx-*.conf

# ==============================================
# 系统垃圾文件
# ==============================================
.DS_Store
*.log